body {
    background: #e8edf5;
    width: 100%;
    height: 100%;
}

.logo {
    color: #673ab7;
    font-size: 2.2em;
    display: grid;
    justify-self: center;
}

.sheet {
    width: 1000px;
    height: 600px;
    margin: 1.8em 1em;
}

.menu {
    color: #673ab7;
    font-size: large;
}